.ActivityCard {
    padding: 2rem 3rem;
    width: 100%;
    color: var(--color-text-secondary);
}
.Title {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-text-primary);
}

.ActivityCard:hover {
    background-color: var(--color-primary);
}

.ActivityCard .flexDiv {
    display: flex;
    justify-content: space-between;
}

.ActivityCard .flexStart {
    display: flex;
    justify-content: space-between;
}

.GridContainer {
    display: grid;
    grid-template-columns: repeat(61, 1fr);
    row-gap: 6px;
    flex-direction: column;
}

.GridContainer div {
    width: clamp(1px, 0.64vw, 14px);
    aspect-ratio: 1;
    border-radius: 2px;
    background-color: var(--color-background);
}
.ActivitySquare{
    position: relative;
    cursor: pointer;
}

.HoverDate{
    position: absolute;
    top: 0rem;
    left: 1rem;
    background: var(--color-accent-secondary);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0.3rem;
    border-radius: 0.3rem;
    opacity: 0;
    z-index: 5;
    pointer-events: none;
}
.ActivitySquare:hover .HoverDate{
    opacity: 1;
}

