.AdminListTable{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 675px;
    padding: 2rem 3rem;
    margin-bottom: 2rem;
}
.AdminListTable:hover{
    background-color: var(--color-primary);
}

.AdminListTopBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--color-secondary);
}

.AdminListTitle{
    padding: 0;
    margin: 0;
    font-size: 1.5rem !important;
    color: var(--color-text-primary);
}

    

.AdminListContainer{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 1rem;
}

.AdminListCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-accent-secondary);
    border-radius: 10px;
    padding: 1rem 2rem;
}
.AdminUserData{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.AdminListCard p{
    margin: 0;
    padding: 0;
}

.AdminUserImage{
    height: 3rem;
    width: 3rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10rem;
}

.AdminRemoveButton{
    cursor: pointer;
}