.AwardsCard {
    padding: 2rem 3rem;
    width: 100%;
    color: var(--color-text-secondary);
    text-align: center;
    background-color: var(--color-primary);
}
.AwardsCard .Title {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-text-primary);
}
.AwardsCard:hover {
    background-color: var(--color-primary);
}

.AwardsCard .AwardsGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.AwardsCard .Award img {
    width: 2.5rem;
}

@media (max-width: 900px) {
    .AwardsCard {
        width: 100% !important;
        padding: 2rem 1rem;
    }
    .AwardsCard .AwardsGrid {
        grid-template-columns: 1fr 1fr;
    }
}
