.Container {
    background: var(--color-primary);
    border-radius: 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.Container a {
    padding: 0.5rem 2.5rem;
    margin: 0 !important;
    border-radius: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--color-text-secondary);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.Container a span svg path {
    -webkit-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.Container a:hover,
.Container a:focus {
    color: var(--color-background);
    background: var(--color-cancel-secondary);
    cursor: pointer;
}

.Container a:hover span svg path,
.Container a:focus span svg path {
    fill: var(--color-background);
}

.Container a:active {
    background: var(--color-cancel-primary);
}

.Container span {
    margin-top: 6px;
    margin-left: 10px;
}
