.CircleAddButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-accent-secondary);
    border-radius: 50%;
    padding: 0.3rem;
    height: 2.5rem;
    width: 2.5rem;
    transition: all 0.2s linear;
    cursor: pointer;
    z-index: 2;
}
.CircleAddButton:hover {
    background: var(--color-accent-primary);
}