.CircleLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-green);
    border-radius: 50%;
    padding: 1rem;
}

.CircleLogo img{
    width:2rem;
    height: 2rem;
}