.ConfirmationButtons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.ConfirmationPopUp {
    text-align: center;
}

.ConfirmationPopUp p {
    font-weight: 400;
    font-size: 2rem;
}

.ConfirmationPopUp p span {
    font-weight: 700;
}
