.Container {
    background: var(--color-cancel-primary);
    color: var(--color-background);
    padding: 0.8rem 2rem;
    border-radius: 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.Container {
    max-width: 100%;
}

@media (max-width: 600px) {
    .Container {
        min-height: 44px;
        display: flex;
        align-items: center;
        padding: 0.5rem 1.5rem;
    }
}
