.FeedbackCard {
    padding: 1.5rem;
    padding-bottom: 2.5rem;
    position: relative;
    cursor: pointer;
    max-height: 200px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrolling when content exceeds height, however it doesn't work like that. it keeps the container at fixed size. delete the line and it will expand infinitely */ 
  }

.FeedbackCard p{
    padding: 0;
    margin: 0;
    color: var(--color-text-secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.FeedbackCardDate{
    position: absolute;
    right: 0.9rem;
    bottom: 1rem;
    color: var(--color-text-secondary);
    font-size: 0.9rem;
}

.FeedbackCardDelete{
    position: absolute;
    left: 1.35rem;
    bottom: 1rem;
    color: var(--color-text-secondary);
}

.FeedbackCardDot{
    position: absolute;
    left: 2.15rem;
    bottom: 1rem;
    color: var(--color-text-secondary);
}

.FeedbackCardEdit{
    position: absolute;
    left: 3rem;
    bottom: 1rem;
    color: var(--color-text-secondary);
}

