.FeedbackTable{
    padding-bottom: 2rem;
}
.FeedbackTopBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AddFeedbackButton{
    height: 2rem;
    width: 2rem;
}

.FeedbackHeader{
    width: 100%;
    display: flex;
    gap:1rem;
    align-items: baseline;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    margin-left: 0.5rem;
}
.FeedbackMore{
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-weight: 500;
    color: var(--color-text-secondary);
    transition: 0.2s ease-in;
}
.FeedbackMore:hover {
    color: var(--color-text-primary);
}

.FeedbackTitle{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-text-primary);
}

.FeedbackGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.NoFeedbackText {
    margin: 0 auto; 
    width: 100%;
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 1.15rem;

  }

  