.FeedbackButtonDiv{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    gap:30px;
}

  .FeedbackPopUpText {
    word-wrap: break-word; /* Allow words to break and wrap onto the next line */
  }
  
  .TextInput {
    width: 100%;
    height: 150px; /* Adjust height as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.TextInput:focus {
    outline: none;
    border-color: #007bff; /* Change border color on focus */
}

.EditFeedbackButtonDiv{
  width: 100%;
  justify-content: flex-end;
  display: flex;
  gap:30px;
}
