.FilterComponent {
    padding: 0.8rem 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}
.FilterComponent:hover {
    background-color: var(--color-primary);
}

.TopFilter {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0 0rem;
}

.FilterComponent p {
    color: var(--color-text-secondary);
    font-weight: 400;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
    cursor: pointer;
}
.FilterComponent p:hover {
    color: var(--color-text-primary);
}

.FilterValuesDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    height: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
}
.FilterVisible {
    padding: 1rem 0 0 0;
    height: auto;
}
.FilterValuesDiv p {
    width: 100%;
    padding: 0.5rem 2rem;
    opacity: 0;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}
.FilterVisible p {
    opacity: 1;
}
.FilterValuesDiv p:hover {
    color: var(--color-text-primary);
    background-color: var(--color-secondary);
}

.Container,
.Container:hover {
    color: var(--color-text-primary);
    background: transparent;
}

.Accent,
.Accent:hover {
    background: var(--color-secondary);
}

.titleDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}
.titleDiv svg rect {
    stroke: var(--color-text-primary);
}

.titleDiv > * {
    margin: 0;
    padding: 0;
    background: transparent;
}

.titleDiv h3 {
    margin-left: 10px;
    font-weight: normal;
    background: transparent;
}
