.GoalCard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 0.2rem 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.75rem;
    cursor: pointer;
    border: 2px solid var(--color-accent-secondary);
}

.GoalCard:hover {
    background: var(--color-secondary);
}

.GoalCard:hover .GoalCardTitle {
    color: var(--color-text-primary);
}

.GoalCardContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0;
}

.GoalCardTitle {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-primary);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.GoalCardDate {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
    margin-right: 1.5rem;
    color: var(--color-text-secondary);
}
.GoalCardPercentage {
    margin-left: 1rem;
    color: var(--color-text-secondary);
}
