.GoalPopUpTitle {
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
}
.GoalPopUpDate {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.GoalCircleLogo {
    margin-right: 2rem;
}

.GoalPopUpTopBar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.GoalProgressBar {
    margin-bottom: 2rem;
    width: 100%;
}

.GoalPopUpDescription {
    margin: 2rem 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--color-text-secondary);
}

.FlexRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.FlexRow > * {
    margin: 0;
    font-weight: 300;
}

.FlexRow span {
    font-weight: 600;
}

.FlexRowEnd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
