.GoalsTableContainer{
    padding: 2rem 3rem;
    width: 100%;
}
.GoalsTableTitle{
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: var(--color-text-primary);
}
.GoalsTableContainer:hover{
    background-color: var(--color-primary);
}