.Container {
    margin: 20px 0 40px 0;
    color: var(--color-text-primary);
}

.titleDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}

.titleDiv svg path{
    fill: var(--color-text-primary);
}

.titleDiv > * {
    margin: 0;
    padding: 0;
}

.titleDiv h3 {
    margin-left: 10px;
    font-weight: normal;
}

.Container input {
    padding: 0.75rem;
    border-radius: 7px;
    border: 2px solid transparent;
    background: var(--color-secondary);
    color: var(--color-text-primary);
    font-size: 16px;
}

.Container input:focus,
.Container input:active {
    border: 2px solid var(--color-accent-primary);
    outline: none;
}
