.AddLinkButtons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.LinkAccountPopUp {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LinkAccountPopUp p {
    font-weight: 400;
    font-size: 2rem;
}

.LinkAccountPopUp p span {
    text-transform: capitalize;
    font-weight: 700;
}

.DeleteSocialLink{
    font-size: 1.5rem!important;
    font-weight: 700!important;
    cursor: pointer;
}