.LoginButton {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-text-secondary);
    padding: 0.4rem 0.5rem;
    border: 0;
    font-weight: 500;
    background: transparent;
    font-size: 1.1rem;
    cursor: pointer;
    transition: all 0.2s linear;
}

.LoginButton:hover {
    color: var(--color-text-primary);
}