.MainLayout {
    width: 1400px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.MainLayoutBackground {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: url("../public/final-background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.MainLayoutContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

@media only screen and (max-width: 1500px) {
    .MainLayout {
        width: 100vw;
        padding: 0 3rem;
    }
}
