.MaterialPopUpTitle {
    font-size: 2rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.MaterialPopUpDate {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-text-secondary);
}

.MaterialCircleLogo {
    margin-right: 2rem;
}

.MaterialPopUpTopBar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.MaterialPopUpDescription {
    margin: 2rem 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--color-text-secondary);
}

.MatFlexRowEnd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
