.noUser {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 100%;
    padding: 0 8rem;
    margin: 0;
    max-height: 75vh;
    color: var(--color-text-primary);
}

.noUser h1 {
    font-weight: 400;
    margin: 0;
}

.noUser p {
    font-size: 1rem;
    color: var(--color-text-secondary);
}

.noUser::-webkit-scrollbar {
    display: none;
}

.MyProfile {
    width: 100%;
    margin-left: 4rem;
    padding: 0 1rem 0rem 1rem;
    max-height: 75vh;
}

.ProfileCoverContainer {
    border-radius: 25px;
    height: 50vh;
    overflow: hidden;
    position: relative;
}

.ProfileCoverImage {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.SocialLinks {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    display: flex;
    gap: 1.3rem;
    z-index: 10;
}

.SocialLinks svg {
    cursor: pointer;
}

.SocialLinks svg path {
    transition: all 0.3s ease-in-out;
    fill: var(--color-background);
}

.SocialLinks svg:hover path {
    fill: var(--color-accent-primary);
}

.TopProfileBar {
    display: flex;
    justify-content: space-between;
    transform: translateY(-25%);
    margin-bottom: -30px;
}
.TopProfileLeft {
    display: flex;
    justify-content: center;
}

.ProfileNameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3rem;
    transform: translateY(7.5%);
}
.ProfileName {
    margin: 0;
    font-size: 3rem;
    color: var(--color-text-primary);
    font-weight: 400;
}
.ProfileRole {
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-text-secondary);
}

.ProfileSettingsContainer {
    display: flex;
    gap: 1.5rem;
    margin-right: 3rem;
    align-items: center;
    justify-content: center;
    transform: translateY(7.5%);
}
.ProfileSettingsContainer svg {
    cursor: pointer;
}

.ProfileSettingsContainer svg path {
    transition: all 0.3s ease-in-out;
    fill: var(--color-text-secondary);
}

.ProfileSettingsContainer svg:hover path {
    fill: var(--color-text-primary);
}
