.NavigationButton {
    width: 4rem;
    height: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;
}

.NavigationButtonSelected {
    border: 2px solid var(--color-accent-primary);
    background-color: var(--color-accent-secondary) !important;
}
