.NewAccount {
    padding: 0 8rem;
    width: 100%;
}
.NewAccountTitle{
    color: var(--color-text-primary);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 50px;
}
.NewAccountNameDiv{
    margin: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

.NewAccountDescription{
    margin-top: 0 !important;
    padding: 0;
}

.NewAccountButtonDiv{
    margin: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}