.NewMaterialCard {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    border: 2px solid var(--color-accent-secondary);
}

.NewMaterialCard:hover {
    background: var(--color-primary);
}


.NewMaterialCard:hover .MaterialAddButton {
    background: var(--color-accent-primary);
}

.NewMaterialText {
    padding: 0;
    margin-left: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text-secondary);
}

.NewMaterialCard:hover .NewMaterialText {
    color: var(--color-text-primary);
}
