.ProjectCard {
    padding: 1.5rem 2rem;
    height: 100%;
    min-height: 230px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ProjectCard svg path {
    stroke: var(--color-text-secondary);
}

.ProjectCard:hover svg path {
    stroke: var(--color-primary);
}
