.Objective {
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: var(--color-text-secondary);
    border: 1px solid var(--color-accent-secondary);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.Objective p {
    margin: 0;
    font-size: 1rem;
}
.Objective:hover {
    background-color: var(--color-primary);
}
