.ObjectivesCard {
    padding: 2rem 3rem;
    width: 100%;
    color: var(--color-text-secondary);
}
.ObjectivesCard .Title {
    padding: 0;
    margin: 0;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-text-primary);
}
.ObjectivesCard:hover {
    background-color: var(--color-primary);
}

.ObjectivesCard .flexDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
}
