.Container {
    width: 100%;
    max-height: 75vh;
    padding-left: 5rem;
    padding-right: 2rem;
}

.OpenSchoolHeader h1 {
    color: var(--color-text-primary);
    font-weight: normal;
    margin-top: 0;
}

.OpenSchoolHeader h4 {
    margin-top: -10px;
    margin-bottom: 12.5px;
    font-weight: normal;
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-bottom: 50px;
}

.OpenSchoolHeader .navbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.navbar div ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar div ul li a {
    font-weight: 500;
    color: var(--color-text-secondary);
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor:pointer;
}

.navbar div ul li a:hover {
    color: var(--color-text-primary);
}

.navbar .active {
    color: var(--color-accent-primary);
}

.OpenSchool_ScrollContainer {
    height: 50vh;
    margin: 30px 0;
}

.NoteDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.NoteDiv svg path {
    fill: var(--color-text-secondary);
}

.NoteDiv > * {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}

.note {
    font-weight: normal;
    font-size: 1rem;
    color: var(--color-text-secondary);
    margin-left: 10px;
}

.note a {
    font-weight: 500;
    cursor: pointer;
}

.DocGroup .DocHeaders {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.DocHeaders h3 {
    font-size: 1.5rem;
    color: var(--color-text-primary);
    font-weight: 400;
}

.DocHeaders a {
    color: var(--color-text-secondary);
    margin-left: 20px;
    cursor: pointer;
    font-weight: 500;
}

.DocHeaders a:hover {
    color: var(--primary-text-color);
}

.FilesLine {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
