.Project {
    width: 100%;
    padding: 0 8rem;
    max-height: 75vh;
}
.ProjectTitle {
    font-size: 3rem;
    font-weight: 300;
    color: var(--color-text-primary);
    margin: 0;
    padding: 0;
}
.ProjectDate {
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    color: var(--color-text-secondary);
}
.TopProjectTextSection {
    width: 100%;
    padding-right: 2rem;
}

.ProjectImage {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
    width: 30vw;
    border: 3px solid var(--color-accent-primary);
    -o-object-fit: cover;
    object-fit: cover;
    max-height: 50vh;
}
.ProjectContributors {
    margin: 0;
    padding-top: 2rem;
    color: var(--color-text-secondary);
}

.ProjectContributors span {
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ProjectContributors span:hover {
    color: var(--color-text-primary);
}

.TopProjectSection {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 2rem;
}
.ProjectTitleDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.ProjectDescription {
    margin-bottom: 2rem;
}

.MaterialsTable {
    margin-bottom: 2rem;
}
.GoalsTable {
    margin-bottom: 2rem;
}

.ProjectReviewContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 0 1rem 0;
}
.StarsContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 1rem;
}
.Star {
    margin: 0 0.2rem;
}

.ProjectReviewText {
    margin: 0;
    padding-right: 1rem;
    color: var(--color-text-secondary);
}
.ProjectSeeReviewsText {
    margin: 0;
    color: var(--color-text-secondary);
    font-weight: 600;
    cursor: pointer;
}

.ProjectReviewText span {
    font-weight: 600;
}

.EditBtnDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.EditBtnDiv img {
    cursor: pointer;
}
