.ProjectsTableContainer {
    position: relative;
    width: 100%;
    height: 85%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ProjectsTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    padding-right: 1rem;
}
/*
.ProjectsTable::-webkit-scrollbar {
    width: 0.5rem;
}

.ProjectsTable::-webkit-scrollbar-track {
    background: var(--color-secondary);
    border-radius: 1rem;
}

.ProjectsTable::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--color-text-secondary);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.ProjectsTable::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-primary);
}

.scrollbarTop {
    position: absolute;
    top: 0;
    left: calc(92.5% - 0.75rem);
    width: 1rem;
    height: 100%;
    background-image: -o-linear-gradient(
        var(--color-background),
        var(--color-background)
    );
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(var(--color-background)),
        to(var(--color-background))
    );
    background-image: linear-gradient(
        var(--color-background),
        var(--color-background)
    );
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
    -webkit-animation: fade-out 3s;
    animation: fade-out 3s;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 1;
    }
    90% {
        opacity: 1;
        z-index: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 1;
    }
    90% {
        opacity: 1;
        z-index: 1;
    }
}

.ProjectsTableShadow {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -o-linear-gradient(
        transparent 70%,
        var(--color-background)
    );
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(var(--color-background)));
    background-image: -o-linear-gradient(transparent 70%, var(--color-background));
    background-image: linear-gradient(transparent 70%, var(--color-background));
    background-size: calc(92.5% - 0.55rem) 100%;
    background-repeat: no-repeat;
}*/

@media only screen and (max-width: 1200px) {
    .ProjectsTable {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .ProjectsTable {
        grid-template-columns: 1fr;
    }
}
