.ReviewsPopUp h2 {
    font-size: 2rem;
    margin: 0;
}

.ReviewsPopUp p {
    color: var(--color-text-secondary);
}

.ReviewContainer p {
    margin: 0;
}

.ReviewsPopUp p a {
    cursor: pointer;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.ReviewsPopUp p a:hover {
    color: var(--color-text-primary);
}

.ReviewContainer {
    border: 2px solid var(--color-accent-secondary);
    border-radius: 10px;
    padding: 1rem 2rem;
    margin-right: 1rem;
}

.ReviewsTable{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 1rem;
    
}

.ReviewUserImage{
    height: 4rem;
    width: 4rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 10rem;
}

.ScrollContainer {
    max-height: 40vh;
    margin-block: 3rem;
}

.endFlexRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.FlexRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.FlexRow p {
    margin: 0;
}

.FlexRow p:first-of-type {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.ReviewsStarsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px;
}