.ScrollContainer{
    overflow-y: scroll;
    overflow-x: hidden;
}

.ScrollContainer::-webkit-scrollbar {
    width: 0.5rem;
}

.ScrollContainer::-webkit-scrollbar-track {
    background: var(--color-secondary);
    border-radius: 1rem;
}

.ScrollContainer::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--color-text-secondary);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.ScrollContainer::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-primary);
}

.scrollbarTop {
    position: absolute;
    top: 0;
    left: calc(92.5% - 0.75rem);
    width: 1rem;
    height: 100%;
    /* background-image: -o-linear-gradient(
        var(--color-background),
        var(--color-background)
    );
    background-image: -webkit-gradient(
        linear,
        left top, left bottom,
        from(var(--color-background)),
        to(var(--color-background))
    );
    background-image: linear-gradient(
        var(--color-background),
        var(--color-background)
    );
    background-repeat: no-repeat; */
    opacity: 0;
    z-index: -1;
    -webkit-animation: fade-out 3s;
    animation: fade-out 3s;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 1;
    }
    90% {
        opacity: 1;
        z-index: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        z-index: 1;
    }
    90% {
        opacity: 1;
        z-index: 1;
    }
}