.Container {
    color: var(--color-text-primary);
}

.titleDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px;
}
.titleDiv svg rect{
    stroke: var(--color-text-primary);
}

.titleDiv > * {
    margin: 0;
    padding: 0;
}

.titleDiv h3 {
    margin-left: 10px;
    font-weight: normal;
}

.Container select {
    padding: 0.75rem;
    border-radius: 7px;
    border: 2px solid transparent;
    font-size: 16px;
    background: var(--color-secondary) url("../public/ls_dropdown.svg")
        no-repeat right;
    color: var(--color-text-primary);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 200px;
}

.Container select:focus,
.Container select:active {
    border: 2px solid var(--color-accent-primary);
    outline: none;
}
