.Settings {
    width: 100%;
    margin: 0 9rem;
    padding: 0 1rem 2rem 1rem;
    max-height: 75vh;
}
.Settings p {
    font-size: 1rem;
}

.Settings h3 {
    font-weight: 400;
    font-size: 1rem;
}

.SettingsTitle {
    color: var(--color-text-primary);
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 50px;
}

.LogOutbtn {
    margin-bottom: 1rem;
}

.LinkText {
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.Settings .socialLinks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.Settings .socialLinks svg {
    width: 2rem;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.Settings .socialLinks svg path {
    fill: var(--color-text-secondary);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.Settings .socialLinks svg:hover path {
    fill: var(--color-accent-primary);
}

.LanguageContainer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}
.LanguageContainer p {
    margin: 0;
    font-size: 1rem;
}

.LanguageContainer p span {
    font-weight: 700;
}

.SettingsButtonDiv {
    margin-top: 3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2rem;
}
