.SimpleButton {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px solid var(--color-text-secondary);
    border-radius: 8px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.4rem 1.4rem;
    cursor: pointer;
}
.SimpleButton p {
    margin: 0;
    color: var(--color-text-secondary);
    font-size: 0.875rem;
    font-weight: 600;
}
