.Container {
    margin-top: 40px;
    color: var(--color-text-primary);
}

.titleDiv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 15px;
}
.titleDiv svg path{
    fill: var(--color-text-primary);
}

.titleDiv > * {
    margin: 0;
    padding: 0;
}

.titleDiv h3 {
    margin-left: 10px;
    font-weight: normal;
}

.Container h6 {
    margin-left: 32px;
    margin-top: -7.5px;
    margin-bottom: 12.5px;
    font-weight: normal;
    font-size: 12px;
}

.Container textarea {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    padding: 0.75rem;
    border-radius: 7px;
    border: 2px solid transparent;
    font-size: 16px;
    background: var(--color-secondary);
    color: var(--color-text-primary);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position-x: 200px;
    resize: vertical;
}

.Container textarea:focus,
.Container textarea:active {
    border: 2px solid var(--color-accent-primary);
    outline: none;
}
