.UsersTableContainer {
    position: relative;
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.UsersTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    /*overflow-y: scroll;
    overflow-x: hidden;*/
    padding-right: 1rem;
}


@media only screen and (max-width: 1200px) {
    .UsersTable {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1000px) {
    .UsersTable {
        grid-template-columns: 1fr 1fr;
    }
}
